/* Styles in client registration page */
body {
    font-family: Quicksand;
}
.main_cont {
    margin-top: 0px;
    margin-bottom: 0px;
}
.alert1{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;;
}
.img1{
    width: 100%;
    height: 150px;
}

.form-group{
    color: black;
}