.container-md {
    margin: 0;
    padding: 0;
    background: #262626;
}

.cup {
    width: 300px;
    height: 350px;
    border: 6px solid #262626;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url(../img/water2.png);
    background-repeat: repeat-x;
    animation: animate 15s linear infinite;
    box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0, 0, 0, 1)
}


