#main_div{
    height: 250px;
    width: 200px;
    border-right:black solid 6px ;
    border-left:black solid 6px ;
    border-bottom:black solid 6px ;
    background-color: lightblue;
    margin:auto;
    padding: 0;
    border-radius: 10px;
}

#inside_div{
    height: 240px;
    width: 188px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: white;
}