<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="dist/img/logo.png">
    <title>Admin Dashboard - Vendors | Aqua_Gauge</title>
  
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.min.css">
  
        
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">
      
      <!-- Bootstrap core CSS -->
      <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="https://kit.fontawesome.com/5a4db65dc4.js" crossorigin="anonymous"></script>
      <script type="text/javascript" src="client_script.js"></script>
      <script type="text/javascript" src="sensor_script.js"></script>
      <script type="text/javascript" src="vendor_script.js"></script>
      
  
      <!-- Custom styles for this template -->
      <link href="https://getbootstrap.com/docs/4.0/examples/album/album.css" rel="stylesheet">
  
      <!-- Own CSS -->
      <link rel="stylesheet" type="text/css" href="../css/gui_index.css">
      <link rel="stylesheet" href="../css/water_animation.css">
  
      <style type="text/css">
            #chart-container {
                width: 640px;
                height: 500px;
            }
            .bs-example{
              margin: 20px;
                position: relative;
            }
          </style>
      <script>
          $(document).ready(function(){
              $(".show-toast").click(function(){
                  $("#myToast").toast('show');
              });
          });
      </script> 
  
      <script>
            var myVar;
  
            function changing_height() {
            myVar = setInterval(change_height, 3000);
            }
  
            function change_height(){
                
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    //alert(this.responseText);
                    var myObj = JSON.parse(this.responseText);
                    var c=document.getElementById("inside_div");
                    c.style.height=myObj.level + 100 + "px";
                    var level=100-myObj.level;
                    document.getElementById("water_alert").innerHTML="The tank is "+level +"% full"
                    //alert(myObj.level);
                    
                  
                }
                };
                xhttp.open("GET", "tank.php?water_level", true);
                xhttp.send();
  
            }
        </script> 
  
  </head>